body {
    margin: 0 auto;
    background: #ccffcc;
}

header {
    padding: 10px 0 10px 8px;
    border: 1px solid black;
    margin: auto;
    background: #24292e;
    color: white;
    font-size: 30px;
    text-align: center;
   
}
#menu {
    float: left;
    cursor: pointer;
}

.parentdiv { 
    display: flex;
    flex-direction: row;
}

#board-menu {
    background: #ffee48;
    width: 20%;
    height: 100vh;
    border: 2px solid black;
    border-radius: 5px;
    margin: 10px 0 0 10px;

}

#container {
    width: 80%;
    margin: 0 20px;
}

.content-1 {
    padding: 10px 0;
    z-index: 1;
}

.input-box {
    width: 80%;
    padding: 10px 0 10px 10px;
    font-size: 15px;
    border-radius: 5px;

}

.addBoard {
    background: green;
    color: white;
    padding: 10px;
    font-size: 15px;
    float: right;
    border-radius: 5px;
}

.project-Block {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.project-card {
    width: 30%;
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;
    background: #ff6666;
    color: white;
    margin-top: 20px;
}